# GCP Configuration
PROJECT_ID=rare-karma-480813-i3
REGION=asia-northeast1
REPO_NAME=cloud-run-source-deploy

# Image Configuration
IMAGE_NAME=cpu-load-generator
TAG=latest

# Cloud Run Service Configuration
SERVICE_NAME=cpu-load-default
CPU_TARGET=50
CPU=1
MEMORY=512Mi
MIN_INSTANCES=1
MAX_INSTANCES=1
